#{extends 'main.html' /}
#{set title:'Create Trip' /}

#{form @Trips.create(), class:"form-inline" }
<div class="row-fluid">
*{style="background-color: blue;"}*
    <div class="row">
        <div class="badge badge-info">
            <h2>New Trip</h2>
        </div>
    </div>

    #{if success}
        <div class="row" style="margin-top: 2px;">
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">&times;</a>
                Trip was successfully added.
            </div>
        </div>
    #{/if}

    <div class="row">
        <div class="span3">
            <div class="control-group #{ifError 'trip.name'}error#{/ifError}">
                <label class="control-label" for="name">Name</label>
                <label class="label-required" for="name">(required)</label>

                <div class="controls">
                    <input type="text" id="name" name="trip.name" class="span2" value="${trip.name}">
                    <span class="help-inline">#{error 'trip.name'/}</span>
                </div>
            </div>

            <div class="control-group #{ifError 'trip.origin'}error#{/ifError}">
                <label class="control-label" for="origin">Origin</label>
                <label class="label-optional" for="name">(optional)</label>

                <div class="controls">
                    <input type="text" id="origin" name="trip.origin" class="span2" value="${trip.origin}">
                    <span class="help-inline">#{error 'trip.origin'/}</span>
                </div>
            </div>

            <div class="control-group #{ifError 'trip.destination'}error#{/ifError}">
                <label class="control-label" for="destination">Destination</label>
                <label class="label-optional" for="name">(optional)</label>

                <div class="controls">
                    <input type="text" id="destination" name="trip.destination" class="span2"
                           value="${trip.destination}">
                    <span class="help-inline">#{error 'trip.destination'/}</span>
                </div>
            </div>

            <div class="control-group #{ifError 'trip.departDate'}error#{/ifError}">
                <label class="control-label" for="departDate">Departure Date</label>
                <label class="label-optional" for="name">(optional)</label>

                <div class="controls">
                    <input type="text" id="departDate" name="trip.departDate" class="span2"
                           value="${trip.departDate!=null ? trip.departDate.format("dd/MM/yyyy"):""}">
                    <span class="help-inline">#{error 'trip.departDate'/}</span>
                </div>
            </div>

            <div class="control-group #{ifError 'trip.returnDate'}error#{/ifError}">
                <label class="control-label" for="returnDate">Return Date</label>
                <label class="label-optional" for="name">(optional)</label>

                <div class="controls">
                    <input type="text" id="returnDate" name="trip.returnDate" class="span2"
                           value="${trip.returnDate!=null ? trip.returnDate.format("dd/MM/yyyy"):""}">
                    <span class="help-inline">#{error 'trip.returnDate'/}</span>
                </div>
            </div>

            <div class="control-group #{ifError 'trip.isRound'}error#{/ifError}">
                <label class="control-label" for="isRound">Round Trip</label>
                <label class="label-optional" for="name">(optional)</label>

                <div class="controls">
                    <input type="checkbox" id="isRound" name="trip.isRound"
                           class="checkbox btn" ${trip.isRound?"checked":""}>
                    <span class="help-inline">#{error 'trip.isRound'/}</span>
                </div>
            </div>
        </div>

    *{
        <div style="margin-top: 8px;">
            <iframe class="span5" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=38.272689,-99.667969&amp;spn=24.080426,43.857422&amp;z=4&amp;output=embed"></iframe>
            <br/>
        </div>
}*

    *{
        <div class="span3" style="background-color: yellow;">
            <div class="control-group #{ifError 'travellerName'}error#{/ifError}">
                <label class="control-label" for="traveller">Traveller Name</label>

                <div class="controls">
                    <input type="text" id="traveller" name="travellerName" class="span2">
                    <span class="help-inline">#{error 'travellerName'/}</span>
                </div>
            </div>

            <div class="control-group #{ifError 'travellerEmail'}error#{/ifError}">
                <label class="control-label" for="travellerEmail">Traveller Email</label>

                <div class="controls">
                    <input type="text" id="travellerEmail" name="travellerEmail" class="span2">
                    <span class="help-inline">#{error 'travellerEmail'/}</span>
                </div>
            </div>

            #{if trip.travellers !=null && !trip.travellers.isEmpty()}
                <table>
                    #{list items:trip.travellers, as:'t'}
                        <tr>
                            <td>${t.firstName}</td>
                        </tr>
                    #{/list}
                </table>
            #{/if}

        </div>
}*
    </div>

    <div class="row">
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save"/>
            <input type="reset" class="btn btn-inverse" value="Clear"/>
        </div>
    </div>

</div>
#{/form}

<script type="text/javascript">
    $(function () {
        $("#departDate").datepicker();
        $("#returnDate").datepicker();
    });
</script>