#{extends 'main.html' /}
#{set title:'Create Trip' /}

<div class="row-fluid">
    <div class="span4">
        <h2>Trip</h2>

        <div class="control-group #{ifError 'trip.name'}error#{/ifError}">
            <label class="control-label" for="name">Name</label>

            <div class="controls">
                <input type="text" id="name" name="trip.name" class="span3" value="${trip.name}" readonly>
                <span class="help-inline">#{error 'trip.name'/}</span>
            </div>
        </div>

        <div class="control-group #{ifError 'trip.origin'}error#{/ifError}">
            <label class="control-label" for="origin">Origin</label>

            <div class="controls">
                <input type="text" id="origin" name="trip.origin" class="span3" value="${trip.origin}" readonly>
                <span class="help-inline">#{error 'trip.origin'/}</span>
            </div>
        </div>

        <div class="control-group #{ifError 'trip.destination'}error#{/ifError}">
            <label class="control-label" for="destination">Destination</label>

            <div class="controls">
                <input type="text" id="destination" name="trip.destination" class="span3" value="${trip.destination}" readonly>
                <span class="help-inline">#{error 'trip.destination'/}</span>
            </div>
        </div>

        <div class="control-group #{ifError 'trip.departDate'}error#{/ifError}">
            <label class="control-label" for="departDate">Departure Date</label>

            <div class="controls">
                <input type="text" id="departDate" name="trip.departDate" class="span3"
                       value="${trip.departDate!=null ? trip.departDate.format("dd/MM/yyyy"):""}" readonly>
                <span class="help-inline">#{error 'trip.departDate'/}</span>
            </div>
        </div>

        <div class="control-group #{ifError 'trip.returnDate'}error#{/ifError}">
            <label class="control-label" for="returnDate">Return Date</label>

            <div class="controls">
                <input type="text" id="returnDate" name="trip.returnDate" class="span3"
                       value="${trip.returnDate!=null ? trip.returnDate.format("dd/MM/yyyy"):""}" readonly>
                <span class="help-inline">#{error 'trip.returnDate'/}</span>
            </div>
        </div>

        <div class="control-group #{ifError 'trip.isRound'}error#{/ifError}">
            <label class="control-label" for="isRound">Round Trip</label>

            <div class="controls">
                <input type="checkbox" id="isRound" name="trip.isRound"
                       class="checkbox btn" ${trip.isRound?"checked":""} readonly>
                <span class="help-inline">#{error 'trip.isRound'/}</span>
            </div>
        </div>

        <div class="control-group">
            <a href="@{Trips.edit(trip.id)}" class="btn btn-primary">Edit</a>
            <a href="@{Trips.delete(trip.id)}" class="btn btn-danger">Delete</a>
        </div>

    </div>
</div>
