body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.create-trip {
    color: #a52a2a;
}

label.label-required {
    color: red;
}

label.label-optional {
    color: #339bb9;
}

.condensed {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear:both;
    border: none;
    padding: 0px;
}