#{extends 'main.html' /}
#{set title:'New Participant' /}

<a href="@{gui.ParticipantsGuiController.list()}">Participants</a>
<br/>
<br/>

<form id="createParticipant" class="form-horizontal" method="POST" action="@{services.ParticipantsController.create()}">
    <h3>New Participant</h3>
    <br/>
        <input type="text" class="input-large" id="participant.email" name="participant.email" placeholder="EMail" />
    <br/>
    <br/>
        <input class="input-large" id="participant.fullName" name="participant.fullName" placeholder="Full Name"/>
    <br/>
    <br/>
        <input type="text" class="input-small" id="participant.username" name="participant.username" placeholder="Username" />
    <br/>
    <br/>

    <button type="submit" class="btn btn-primary" onclick="return submitForm('createParticipant', successFunc)">Save</button>
</form>

<script type="text/javascript">
    function successFunc(data, textStatus, jqXHR) {
        if(jqXHR.status == 200 ) {
            alert( "Participant saved successfully.")
        }
    }
</script>