#{extends 'main.html' /}
#{set title:'List of Participants' /}

<a href="@{gui.ParticipantsGuiController.create()}">New Participant</a>
<br/>

#{list items:participants, as:"participant"}
<table>
    <tbody>
    <tr>
        <td class="span2">
            <a href="@{gui.ParticipantsGuiController.show(participant.id)}"> ${participant.username} </a>
        </td>
        <td class="span2">
            ${participant.fullName}
        </td>
        <td>
            <formclass="condensed" id="deleteParticipant_${participant.id}" method="DELETE" action="@{services.ParticipantsController.delete(participant.id)}">
                <i class="icon-remove pull-right" style="cursor: pointer" onclick="return submitForm('deleteParticipant_${participant.id}', successFunc)"></i>
            </form>
        </td>
    </tr>
    </tbody>
</table>
#{/list}

<script type="text/javascript">

    function successFunc(data, textStatus, jqXHR) {
        if(jqXHR.status == 200 ) {
            refresh();
        }
    }

</script>
