#{extends 'main.html' /}
#{set title:'Sign Up' /}

<form id="createParticipant" class="form-horizontal" method="POST" action="@{services.UsersController.create()}">
    <h3>New User</h3>
    <br/>
        <input type="text" class="input-large" id="user.email" name="user.email" placeholder="EMail" />
    <br/>
    <br/>
        <input class="input-large" id="user.fullName" name="user.fullName" placeholder="Full Name"/>
    <br/>
    <br/>
        <input type="text" class="input-large" id="user.nickName" name="user.nickName" placeholder="Nickname" />
    <br/>
    <br/>
        <input type="text" class="input-large" id="user.password" name="user.password" placeholder="Password" />
    <br/>
    <br/>

    <button type="submit" class="btn btn-primary" onclick="return submitForm('createParticipant', successFunc)">Save</button>
</form>

<script type="text/javascript">

    function successFunc(data, textStatus, jqXHR) {
        if( jqXHR.status == 200 ) {
            window.location = "@{GuiController.signIn()}";
        }
    }

</script>

