#{extends 'main.html' /}
#{set title:'Sign In' /}

<form id="signIn" class="form-horizontal" method="POST" action="@{GuiController.signIn()}">
    <input type="hidden" name="url" value="${url}" />

    Username:
    <input type="text" class="input-medium" id="username" name="username" placeholder="Username" />
    <br/>

    Password:
    <input type="password" class="input-medium" id="password" name="password" placeholder="Password" />
    <br/>

    <button type="submit" class="btn btn-primary">Sign In</button>
</form>

<script type="text/javascript">

    function successFunc(data, textStatus, jqXHR) {
        if(jqXHR.status == 200 ) {
            alert( "Bowl was saved successfully.")
        }
    }

</script>