#{extends 'main.html' /}
#{set title:'New Bowl' /}

<a href="@{gui.BowlsGuiController.list()}">Bowls</a>
<br/>
<br/>

<form id="createBowl" class="form-horizontal" method="POST" action="@{services.BowlsController.create()}">
    <h3>New Bowl</h3>
    <br/>
        <input type="text" class="input-large" id="bowl.title" name="bowl.title" placeholder="Title" />
    <br/>
    <br/>
        <textarea class="input-large" id="bowl.description" name="bowl.description" title="description"></textarea>
    <br/>
    <br/>
        <input type="text" class="input-small" id="bowl.date" name="bowl.date" placeholder="date" />
    <br/>
    <br/>

    <button type="submit" class="btn btn-primary" onclick="return submitForm('createBowl', successFunc)">Save</button>
</form>

<script type="text/javascript">

    function successFunc(data, textStatus, jqXHR) {
        if(jqXHR.status == 200 ) {
            alert( "Bowl was saved successfully.")
        }
    }

</script>
