#{extends 'main.html' /}
#{set title:'Add Participant' /}

<a href="@{gui.BowlsGuiController.list()}">Bowls</a>
<br/>
<a href="@{gui.BowlsGuiController.show(bowl.id)}">Go back to ${bowl.title}</a>
<br/>
<br/>

<form id="searchParticipant" class="form-horizontal" method="PUT" action="@{gui.BowlsGuiController.participants(bowl.id)}">
    <h3>Search Participants</h3>
    <br/>
        <input type="text" class="input-large" id="query" name="query" placeholder="Username" value="${query}" />
        <button type="submit" class="btn btn-primary">Search</button>
</form>

<table>
    <tbody>
    #{list participants, as:'p'}
        <tr>
            <td> ${p.username}</td>
            <td>
                <form id="addParticipant_${p.id}" method="PUT" action="@{services.BowlsController.addParticipant(bowl.id, p.id)}">
                    <button class="btn btn-primary btn-mini" onclick="return submitForm('addParticipant_${p.id}', successFunc)">Add</button>
                </form>
            </td>
        </tr>
    #{/list}
    </tbody>
</table>
<script type="text/javascript">

    function successFunc(data, textStatus, jqXHR) {
        if(jqXHR.status == 200 ) {
            alert( "Participant added to the bowl successfully.")
            window.location = "@{gui.BowlsGuiController.participants(bowl.id)}";
        }
    }

</script>