#{extends 'main.html' /}
#{set title:'Bowl' /}

<a href="@{gui.BowlsGuiController.create()}">New Bowl</a>
<br/>
<a href="@{gui.BowlsGuiController.list()}">Bowls</a>
<br/>

<table>
    <tbody>
    <tr>
        <td> Title: ${bowl.title} </td>
    </tr>
    <tr>
        <td> Cost: ${bowl.cost} </td>
    </tr>
    <tr>
        <td> Date: ${bowl.date} </td>
    </tr>
    <tr>
        <td> Description: ${bowl.description} </td>
    </tr>


    <tr>
        <td>
            Expenses
            <a href="@{gui.BowlsGuiController.expenses(bowl.id)}" class="btn btn-primary btn-mini"><i class="icon-plus-sign"></i> Add</a>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tbody>
                #{list bowl.expenses, as:'e'}
                <tr>
                    <td>
                        <a href="@{gui.BowlsGuiController.expense(e.id)}">
                            ${e.cost}
                        </a>
                    </td>
                    <td>
                        ${e.date}
                    </td>
                    <td class="span2">
                        ${e.description}
                    </td>
                    <td>
                        <form id="deleteExpense_${e.id}" method="DELETE" action="@{services.ExpensesController.delete( e.id )}">
                            <i class="icon-remove pull-right" style="cursor: pointer" onclick="return submitForm('deleteExpense_${e.id}', successFunc)"></i>
                        </form>
                    </td>
                </tr>
                #{/list}
                </tbody>
            </table>
        </td>
    </tr>


    <tr>
        <td>
            Participants
            <a href="@{gui.BowlsGuiController.users(bowl.id)}" class="btn btn-primary btn-mini"><i class="icon-plus-sign"></i> Add</a>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tbody>
                #{list bowlParticipants, as:'p'}
                    <tr>
                        <td class="span2">
                            ${p.user.nickName}
                        </td>
                        <td class="span1">
                            ${p.quota}
                        </td>
                        <td>
                            <form id="deleteUser_${p.user.id}" method="DELETE" action="@{services.BowlsController.deleteUser( bowl.id, p.user.id )}">
                                <i class="icon-remove pull-right" style="cursor: pointer" onclick="return submitForm('deleteUser_${p.user.id}', successFunc)"></i>
                            </form>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <br/>
        </td>
    </tr>

    <tr>
        <td>
            <b> Bill </b>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tbody>
                #{list bills, as:'b'}
                <tr>
                    <td class="span2">
                    ${b.from?.nickName}
                    </td>
                    <td class="span1">
                    ${b.amount}
                    </td>
                    <td class="span2">
                    ${b.to?.nickName}
                    </td>
                </tr>
                #{/list}
                </tbody>
            </table>
        </td>
    </tr>

    </tbody>
</table>

<script type="text/javascript">

    function successFunc(data, textStatus, jqXHR) {
        if(jqXHR.status == 200 ) {
            refresh();
        }
    }

</script>
