<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" href="@{'/public/bootstrap-2.1.1/css/bootstrap.min.css'}">
    <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script type="text/javascript" src="@{'/public/jquery-1.7.1/jquery-1.7.1.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/bootstrap-2.1.1/js/bootstrap.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/main.js'}"></script>
    #{get 'moreScripts' /}

</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

        <div class="container">
            <a class="brand" href="/app" style="color: #5bb75b;"> Let's "Go Dutch"! </a>

            <ul class="nav">
                #{if menu?.menuItems?.size() > 0 }
                    <ul class="nav">
                        #{list menu.menuItems, as:"i" }
                            <li><a href="${i.url}">${i.title}</a></li>
                        #{/list}
                    </ul>
                #{/if}

            </ul>
                    #{if currentUser != null && !currentUser.isGuest() }
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle btn" style="color: #00008b;" data-toggle="dropdown">
                                ${currentUser.nickName}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/spp/setting">Setting</a></li>
                                <li><a href="@{GuiController.signOut()}">Sign Out</a></li>
                            </ul>
                        </div>
                    #{/if}
                    #{else}
                        <div class="dropdown pull-right">
                            <a href="#" style="color: #00008b;" class="dropdown-toggle btn" data-toggle="dropdown">
                                Please Sign In
                                <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">

                                <form action="@{GuiController.signIn( play.mvc.Router.reverse("Application.app").url )}">
                                    <input id="email" style="margin-bottom: 15px;" type="text" name="email" size="30" placeholder="Email" />
                                    <input id="password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="Password" />
                                    <button type="submit" class="btn btn-primary" style="clear: left; width: 70px; height: 30px; font-size: 13px;" role="submit" name="commit">Sign In</button>
                                </form>

                            </div>
                        </div>
                    #{/else}

        </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <input type="hidden" id="key" value="${api_key}">

    <div class="container">
        #{doLayout /}
    </div>
</div>

<footer class="footer">
    <p> &copy; 2012 GoDutchTrip.com </p>
</footer>

</body>
</html>
