<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" href="@{'/public/bootstrap-2.1.1/css/bootstrap.min.css'}">
    #{get 'moreStyles' /}

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script type="text/javascript" src="@{'/public/jquery-1.7.1/jquery-1.7.1.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/bootstrap-2.1.1/js/bootstrap.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/main.js'}"></script>
    #{get 'moreScripts' /}

</head>

<body>

    <input type="hidden" id="key" value="${api_key}">
    #{if currentUser != null }
        <a href="@{GuiController.signOut()}">Sign Out</a>
        <br/>

        <a href="@{Application.app()}">Home</a>
        <br/>
        <br/>
    #{/if}
    #{else}
        <a href="@{Application.signUp()}">Sign Up</a>
    #{/else}

    #{doLayout /}

</body>
</html>
